# Xcode
DerivedData/
build/
*.xcuserdatad/
*.xccheckout
*.moved-aside
*.xcscmblueprint
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/

# SwiftPM
/.build/
/Packages/
/Package.pins
/Package.resolved

# CocoaPods (if used)
/Pods/

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Misc
.DS_Store
*.swp
